/*Geral*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;

}

.clear{clear: both;}

/*Classes site*/
body{
	background-color: black;
}

header{
	padding: 8px 0;
	background-color: #fef802;
	height: 80px;
}

.logo{
	float: left;
}

.logo img{
	width: 180px;
}

nav.menu-desktop{
	float: right;
}

nav.menu-desktop ul{
	position: relative;
	top: 20px;
}

nav.menu-desktop li.selected{font-weight: bold;}

nav.menu-desktop li{
	padding: 0 10px;
	font-weight: lighter;
	display: inline-block;

}

nav.menu-desktop a{
	color: black;
	text-decoration: none;
	transition: all linear 0.2s;
	font-size: 18px;
}

nav.menu-desktop a:hover{
	color: #646566;
	font-size: 20px;
}

div.main-bg{
	width: 100%;
	height: 700px;
	background-image: url(../img/Banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div.main-bg .container{
	position: relative;
	z-index: 2;
}

.overlay{
	z-index: 1;
	position: absolute;
	width: 92%;
	height: 700px;
	background-color: rgba(0, 0, 0, 0.5);
	left: 8%;

}

div.main-bg h2{
	padding: 80px 0;
	text-align: right;
	color: white;
}

article.types{
	padding: 30px 0;
	text-align: center;
}

.line-text h2{
	color: white;
	font-size: 27px;
	margin: 20px 0;
}

.line-text-blackh2{
	color: white;
	font-size: 27px;
	margin: 20px 0;
}

.box-single{
	float: left;
	width: 25%;
	padding: 30px 0;
}

article.itens-seller{
	text-align: center;
	background-color: white;
	text-align: center;
}

div.box-but-size li{
	margin: 20px 0;
	padding: 10px 10px;
	font-weight: lighter;
	display: inline-block;
	background-color: #ede911;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-right: 30px;
}

div.box-but-size li:hover{
	background-color: #d6d315;
}

div.box-but-size a{
	font-size: 27px;
	color: white;
	text-decoration: none;
}